:root{
    --neutral-color: #080808;
    --pastel-color: #101010;
    --primary-color: white;
    --accent-color: #f12c81;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--neutral-color);
    color: var(--primary-color);
    padding-top: 0.3rem;   
}

.main-wrapper{
    --wrapper-max-width: 1080px;
    --wrapper-padding: 10%;
   
    width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
    margin-inline: auto;
}

.hightlight-txt{
    color: var(--accent-color);
}

section{
    text-align: center;
    margin-bottom: 10rem;
}

section:not(#home-section){
    display: none;
}

section .heading{
    color: var(--accent-color);
    font-size: 3rem;
    margin-bottom: 0.1rem;
}